@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Sevillana&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0px;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  margin: 0 auto;
  position: relative;
  background-color: #223243;
  font-family: "Poppins", sans-serif;
  /* background-color: rgb(163, 241, 198);  */
  /* background: linear-gradient(135deg, #915cd6 0%, #90d831 100%); */

  
}
@media (max-width: 768px) {
body{
overflow-x: hidden;
overflow-y: hidden;
margin-right: 10px;
}
  
}
